body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

/* .info {
  float: left;
  padding: 80px 50px 0 50px;
  width: 410px;
  color: gray;
}

.info ul {
  list-style-type: decimal;
} */

.game {
  /* float: left; */
  width: 100%;
  align-content: center;

}

.game h1 {
  text-align: center;
}

canvas {
  cursor: none;
  /* width: 1920px;
  height: 1080px; */
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  margin: 0 auto;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
