<!-- Footer -->
<footer class="site-footer">
    <section class="container-fluid page-footer">
        <div class="row">
            <div class="container">
                <div class="page-footer-wrapper">
                    <img alt="Footer Image" class="img-responsive" src="images/footer/footer-image.png" />
                    <ul class="footer-menu">
                        <li class="footer-menu-item">
                            <a class="footer-menu-link" href="/google-adwords-ppc">Google ppc</a>
                        </li>
                        <!-- Each item -->
                        <li class="footer-menu-item">
                            <a class="footer-menu-link" href="/search-engine-optimization-dentist">SEO</a>
                        </li>
                        <!-- Each item -->
                        <li class="footer-menu-item">
                            <a class="footer-menu-link" href="/dental-website">dental websites</a>
                        </li>
                        <!-- Each item -->
                        <li class="footer-menu-item">
                            <a class="footer-menu-link" href="/social-media-posting">social media posting</a>
                        </li>
                        <!-- Each item -->
                        <li class="footer-menu-item">
                            <a class="footer-menu-link" href="/contact-dental-game-plan">contact us</a>
                        </li>
                        <!-- Each item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- Footer end -->