*{
	-webkit-tap-highlight-color: transparent;
}
html,
body{
	min-height: 100vh;
}
body{
	background-color: white;
	font-size: 16px;
	@include font-SFPro-Regular;
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
.page-wrapper{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	.site-content{
		padding-top: 99px;
		@media (max-width: 1023.98px){
			padding-top: 61px;
		}
	}
}
.container-fluid{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
	@media (min-width: 1200px){
		max-width: 1140px;
	}
	@media (min-width: 1365px) {
		max-width: 1330px;
	}
	@media (min-width: 1600px) {
		max-width: 1570px;
	}
}
.row{
	display: grid;
	grid-template-columns: 100%;
	margin-left: -15px;
	margin-right: -15px;
}
.w-100{
	width: 100% !important;
}
// Position fixed top
.fixed-top{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1030;
}
// Responsive image
.img-responsive{
	display: block;
	height: auto;
	max-width: 100%;
}
// Margin
.mb-50{
	margin-bottom: 50px !important;
}
.mb-100{
	margin-bottom: 100px !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.text-center{
	text-align: center !important;
}
.text-left{
	text-align: left !important;
}
// Scroll to top button
.scroll-top-top-button{
	background-color: black;
	border-radius: 50%;
	border: none;
	bottom: 45px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 70px;
	@media (max-width: 1199.98px) {
		bottom: 40px;
		right: 40px;
	}
}
// Text column
.three-column-text{
	column-count: 3;
	column-gap: 30px;
	margin-bottom: 100px;
	@media (max-width: 1023.98px){
		column-count: 2;
	}
	@media (max-width: 767.98px){
		column-count: 1;
		column-gap: 0;
	}
}
.two-column-text{
	column-count: 2;
	column-gap: 30px;
	margin-bottom: 100px;
	@media (max-width: 767.98px){
		column-count: 1;
		column-gap: 0;
	}
}
// Accordion
.accordion{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-template-rows: auto;
	margin-bottom: 30px;
	@media (max-width: 1023.98px) {
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
	.accordion-item{
		background: linear-gradient(to right, #d9e021 0%,#22b573 27%,#009dff 52%,#ed1e79 100%);
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 30px;
		padding: 1px;
		.accordion-item-toggle{
			align-items: center;
			background-color: black;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			padding: 20px;
			@media (max-width: 1364.98px){
				padding: 10px 15px;
			}
			span{
				color: white;
				font-size: 36px;
				@include font-LoRes-12-OT-Regular;
				line-height: 1.5;
				text-transform: uppercase;
				@media (max-width: 1199.98px) {
					font-size: 27px;
				}
				@media (max-width: 767.98px) {
					font-size: 20px;
				}
				img{
					height: auto;
					max-width: 100%;
					&.accordion-arrow-down{
						display: block;
					}
					&.accordion-arrow-right{
						display: none;
					}
				}
			}
			&.show{
				span{
					img{
						&.accordion-arrow-down{
							display: none;
						}
						&.accordion-arrow-right{
							display: block;
						}
					}
				}
			}
		}
		.accordion-item-inner{
			background-color: black;
			height: 0;
			overflow: hidden;
			padding: 0 20px;
			transition: all 0.3s ease-in-out 0s;
			@media (max-width: 1364.98px){
				padding: 0 15px;
			}
			p{
				color: white;
				font-size: 26px;
				@include font-SFPro-Regular;
				line-height: 2;
				margin-bottom: 0;
				@media (max-width: 767.98px){
					font-size: 16px;
				}
				&:not(:last-child){
					margin-bottom: 1rem;
				}
			}
			&.show{
				height: auto;
				padding: 0 20px 20px;
				@media (max-width: 1364.98px){
					padding: 0 15px 15px;
				}
			}
		}
	}
	&.full-grid{
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 30px;
		.accordion-item{
			margin-bottom: 0;
		}
	}
}
// Inner banner
.inner-banner{
	background-color: black;
	.inner-banner-wrapper{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		padding: 100px 0;
		@media (min-width: 768px){
			min-height: 400px;
		}
		.inner-banner-center{
			align-self: center;
			display: inline-grid;
			justify-self: center;
			.inner-banner-content{
				display: grid;
				//grid-template-columns: 136px 1fr;
				//grid-template-columns: minmax(auto, 1fr);
				grid-template-columns: auto 1fr;
				grid-column-gap: 15px;
				margin-bottom: 0;
				//@media (max-width: 575.98px){
				//	grid-template-columns: 70px 1fr;
				//}
				span{
					align-self: center;
					color: white;
					font-size: 60px;
					@include font-LoRes-12-OT-Regular;
					text-transform: uppercase;
					@media (max-width: 575.98px){
						font-size: 30px;
					}
				}
			}
		}
		//span{
		//	align-self: center;
		//	display: inline-grid;
		//	justify-self: center;
		//}
	}
}
// Game box
.game-gose-box-removal{
	background-color: #001821;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-left: -40px;
	margin-right: -40px;
	padding-bottom: 56.25%;
	position: relative;
	@media (max-width: 1199.98px){
		margin-left: -15px;
		margin-right: -15px;
	}
	span{
		align-self: center;
		display: inline-grid;
		color: #324E54;
		font-size: 50px;
		@include font-LoRes-12-OT-Regular;
		justify-self: center;
		left: 50%;
		position: absolute;
		text-transform: uppercase;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
		@media (max-width: 767.98px){
			font-size: 36px;
		}
	}
}